---
import type { Translator } from "../../lib/i18n/types";
import FormattedMessage from "./FormattedMessage.astro";

export interface Props {
  t: Translator;
  isScreenOnly?: boolean;
}

const { t, isScreenOnly } = Astro.props;
---

<footer class:list={["footer", isScreenOnly && "screen-only"]}>
  <p>
    <FormattedMessage segments={t("viewer.footer.notAffiliated")} />
    <FormattedMessage segments={t("viewer.footer.descriptionsNotice")} />
  </p>
  <p>
    <FormattedMessage
      segments={t("viewer.footer.madeBy", {
        externalLink: "https://sthom.kiwi",
        externalLinkEvent: "sthom-link",
      })}
    />
    <FormattedMessage
      segments={t("viewer.footer.sourceCode", {
        externalLink: "https://github.com/s-thom/botc-script-viewer",
        externalLinkEvent: "github-link",
      })}
    />
  </p>
</footer>

<style>
  .footer {
    opacity: 0.7;
    font-size: 0.9rem;
    margin-block-start: 2rem;
  }
</style>
