---
import type { Translator } from "../../lib/i18n";
import type { PageTranslateData } from "../../types/site";
import LanguageSelector from "./LanguageSelector.astro";
import ThemeToggle from "./ThemeToggle.astro";

export interface Props {
  t: Translator;
  translate?: PageTranslateData;
}

const { t, translate: translation } = Astro.props;
---

<div class="action-list">
  {translation && <LanguageSelector t={t} basePath={translation.basePath} />}
  <ThemeToggle t={t} />
</div>

<style>
  .action-list {
    padding: 8px;
    display: flex;
    gap: 4px;
    flex-direction: column-reverse;
    justify-content: start;

    @media (min-width: 650px) {
      flex-direction: row;
    }
  }
</style>
