---
import { Image } from "astro:assets";
import themeSwitch from "../../assets/theme-switch.webp";
import type { Translator } from "../../lib/i18n/types";
import LocalisedMessage from "../i18n/LocalisedMessage.astro";

export interface Props {
  t: Translator;
}

const { t } = Astro.props;
---

<button
  id="theme-toggle"
  class="theme-toggle screen-only"
  data-label-default={t.string("viewer.theme.default").value}
  data-label-light={t.string("viewer.theme.light").value}
  data-label-dark={t.string("viewer.theme.dark").value}
  ><span class="visually-hidden">
    <LocalisedMessage
      t={t}
      key="viewer.theme.theme"
      params={{
        theme: t.string("viewer.theme.default").value,
        spanClass: "dark-mode-value",
      }}
    />
  </span>
  <Image
    src={themeSwitch}
    alt=""
    class="theme-icon"
    width={96}
    height={32}
    densities={[1, 2, 3]}
  />
</button>

<script is:inline>
  /* eslint-disable */
  var t = localStorage.getItem("sv-theme");
  t && (document.documentElement.dataset.theme = t);
</script>

<script>
  type Theme = "default" | "light" | "dark";
  let state: Theme = (localStorage.getItem("sv-theme") as Theme) ?? "default";

  const button = document.querySelector<HTMLButtonElement>(
    "button#theme-toggle",
  )!;
  const labelText = button.querySelector<HTMLSpanElement>(
    "span.dark-mode-value",
  )!;

  const labelDefault = button.dataset.labelDefault!;
  const labelLight = button.dataset.labelLight!;
  const labelDark = button.dataset.labelDark!;

  function setTheme(theme: Theme) {
    if (theme === "default") {
      labelText.textContent = labelDefault;
      delete document.documentElement.dataset.theme;
      localStorage.removeItem("sv-theme");
    } else {
      labelText.textContent = theme === "light" ? labelLight : labelDark;
      document.documentElement.dataset.theme = theme;
      localStorage.setItem("sv-theme", theme);
    }
    state = theme;
  }
  setTheme(state);

  button.addEventListener("click", () => {
    const isSystemDark = window.matchMedia(
      "(prefers-color-scheme: dark)",
    ).matches;
    if (state === "default") {
      setTheme(isSystemDark ? "light" : "dark");
    } else if (state === "light") {
      setTheme(isSystemDark ? "dark" : "default");
    } else {
      setTheme(isSystemDark ? "default" : "light");
    }
  });
</script>

<style>
  .theme-toggle {
    display: block;
    padding: 0;
    border: none;
    width: 32px;
    height: 32px;
    background: transparent;

    position: absolute;
    inset-block-start: 4px;
    inset-inline-end: 4px;
  }

  .theme-icon {
    object-fit: cover;
    object-position: 0 0;
  }

  :global(:root) {
    &:global([data-theme]) {
      #icon-sunmoon {
        display: none;
      }
    }
    &:global([data-theme="light"]) {
      .theme-icon {
        object-position: -32px 0;
      }
    }
    &:global([data-theme="dark"]) {
      .theme-icon {
        object-position: -64px 0;
      }
    }
  }
</style>
