---
import { Image } from "astro:assets";
import LocalisedMessage from "../components/i18n/LocalisedMessage.astro";
import { witch } from "../generated/character-icons";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { createTranslator, type LocaleIds } from "../lib/i18n";

const locale = (Astro.currentLocale as LocaleIds) ?? "en";
const t = createTranslator({ locale });
---

<CenteredLayout
  t={t}
  meta={{
    title: t.string("viewer.head.title", {
      title: t.string("viewer.errors.notFound").value,
      nameShort: t.string("viewer.common.nameShort").value,
    }).value,
    lang: locale,
  }}
>
  <h1><LocalisedMessage t={t} key="viewer.errors.notFoundHeading" /></h1>

  <Image
    src={witch}
    class="slow-spin"
    alt=""
    width={144}
    densities={[1, 2, 3]}
    loading="eager"
  />
  <p>
    <LocalisedMessage
      t={t}
      key="viewer.errors.notFoundDescription"
      params={{ link: "/" }}
    />
  </p>
</CenteredLayout>
