---
import { Image } from "astro:assets";
import { witch } from "../generated/character-icons";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { createTranslator } from "../lib/i18n";
import LocalisedMessage from "../components/i18n/LocalisedMessage.astro";
import { getPathWithoutLocale } from "../lib/url";

const t = createTranslator({ locale: Astro.currentLocale ?? "en" });
---

<CenteredLayout
  t={t}
  meta={{
    title: t.string("viewer.head.title", {
      title: t.string("viewer.errors.notFound").value,
      nameShort: t.string("viewer.common.nameShort").value,
    }).value,
    basePath: getPathWithoutLocale(Astro.routePattern, Astro.url.pathname),
  }}
>
  <h1><LocalisedMessage t={t} key="viewer.errors.notFoundHeading" /></h1>

  <Image
    src={witch}
    class="slow-spin"
    alt=""
    width={144}
    densities={[1, 2, 3]}
    loading="eager"
  />
  <p>
    <LocalisedMessage
      t={t}
      key="viewer.errors.notFoundDescription"
      params={{ link: "/" }}
    />
  </p>
</CenteredLayout>
