---
import { Image } from "astro:assets";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { witch } from "../generated/character-icons";
import PageView from "../components/misc/PageView.astro";
---

<CenteredLayout
  meta={{ title: "Not found - BotC Script Viewer" }}
  heading="Page not found"
>
  <Fragment slot="head">
    <PageView path="/404" />
  </Fragment>

  <Image
    src={witch}
    class="slow-spin"
    alt="Witch"
    width={144}
    densities={[1, 2, 3]}
  />
  <p>Check for curses, or go <a href="/">back to home</a>.</p>
</CenteredLayout>
