---
import { Image } from "astro:assets";
import { witch } from "../generated/character-icons";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { createTranslator } from "../lib/i18n";

const t = createTranslator({ locale: Astro.currentLocale ?? "en" });
---

<CenteredLayout t={t} meta={{ title: "Not found - BotC Script Viewer" }}>
  <h1>Page not found</h1>

  <Image
    src={witch}
    class="slow-spin"
    alt="Witch"
    width={144}
    densities={[1, 2, 3]}
  />
  <p>Check for curses, or go <a href="/">back to home</a>.</p>
</CenteredLayout>
