---
export const prerender = false;

import PageView from "../components/misc/PageView.astro";
import ScriptBuilderApp from "../components/svelte/builder/ScriptBuilderApp.svelte";
import TopBarLayout from "../layouts/TopBarLayout.astro";

let scriptString: string | undefined;
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();

    if (!data.has("script")) {
      throw new Error("POST body did not contain a script");
    }

    const value = data.get("script");
    if (typeof value !== "string") {
      throw new Error("POST body did not contain a script");
    }

    // Ensure it actually parses to JSON
    JSON.parse(value);

    scriptString = value;
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<TopBarLayout meta={{}} heading="Script Builder">
  <Fragment slot="head">
    <PageView />
  </Fragment>

  <div
    id="top-nav-links-container"
    class="top-nav-links-container"
    slot="items-start"
  >
  </div>

  {
    scriptString && (
      <script
        id="post-data"
        is:inline
        type="application/json"
        set:html={scriptString}
      />
    )
  }

  <div class="builder-wrapper">
    <ScriptBuilderApp client:load />
  </div>
</TopBarLayout>

<style>
  .top-nav-links-container {
    display: contents;
  }

  .builder-wrapper {
    display: contents;
  }
</style>
