---
export const prerender = false;

import Footer from "../components/misc/Footer.astro";
import PageView from "../components/misc/PageView.astro";
import SavedScriptList from "../components/svelte/builder/SavedScriptList.svelte";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { compressToBase64, stringToBytes } from "../lib/compression";

let scriptBuilderUrl: string | undefined;
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();

    if (!data.has("script")) {
      throw new Error("POST body did not contain a script");
    }

    const value = data.get("script");
    if (typeof value !== "string") {
      throw new Error("POST body did not contain a script");
    }

    // Ensure it actually parses to JSON
    JSON.parse(value);

    const rawScriptBytes = stringToBytes(value);
    const rawScriptB64 = await compressToBase64(rawScriptBytes, "gzip", false);
    scriptBuilderUrl = `https://script.bloodontheclocktower.com/?script=${encodeURIComponent(rawScriptB64)}`;
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<CenteredLayout meta={{ noIndex: true }}>
  <Fragment slot="head">
    <PageView />
  </Fragment>

  {
    scriptBuilderUrl ? (
      <a
        href={scriptBuilderUrl}
        rel="external"
        class="button"
        data-umami-event="script-open-official-builder"
      >
        Edit in official script tool
      </a>
    ) : (
      <a
        href="https://script.bloodontheclocktower.com/"
        rel="external"
        class="button"
        data-umami-event="script-open-official-builder"
      >
        Open official script tool
      </a>
    )
  }

  <p>
    Hi, this page used to have a script builder on it. I was working on this
    before the announcement of the new official script builder, and released it
    at around the same time. It was still missing a couple of features, and the
    new script builder does everything this one set out to.
  </p>
  <p>
    If you had any scripts saved using this builder, you should see a list of
    links below for the scripts you had saved. Clicking them will open that
    script in the official script builder.
  </p>
  <SavedScriptList client:idle />
  <Footer />
</CenteredLayout>

<style></style>
