---
import CollectionsMenu from "../components/home/CollectionsMenu.astro";
import ScriptForm from "../components/home/ScriptForm.astro";
import PageView from "../components/misc/PageView.astro";
import Footer from "../components/misc/Footer.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
---

<CenteredLayout meta={{}} heading="Blood on the Clocktower Script Viewer">
  <Fragment slot="head">
    <PageView />
  </Fragment>

  <p>
    View scripts for <a
      href="https://bloodontheclocktower.com/"
      target="_blank"
      rel="external noreferrer">Blood on the Clocktower</a
    > in your browser.
  </p>
  <p>Select a script or enter a custom script by JSON or URL.</p>
  <CollectionsMenu />
  <ScriptForm />
  <Footer />
</CenteredLayout>
