---
import CollectionsMenu from "../components/home/CollectionsMenu.astro";
import ScriptForm from "../components/home/ScriptForm.astro";
import PageView from "../components/misc/PageView.astro";
import Footer from "../components/misc/Footer.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";
import UploadForm from "../components/home/UploadForm.astro";
import { createTranslator } from "../lib/i18n";

const t = createTranslator({ locale: Astro.currentLocale ?? "en" });
---

<CenteredLayout t={t} meta={{ title: t.string("viewer.common.nameLong") }}>
  <Fragment slot="head">
    <PageView />
  </Fragment>

  <div class="content">
    <p>
      An unofficial website for viewing <a
        href="https://bloodontheclocktower.com/"
        target="_blank"
        rel="external noreferrer">Blood on the Clocktower</a
      > scripts in your browser. <a href="/about">What does that mean</a>?
    </p>

    <div class="grid">
      <ScriptForm />
      <UploadForm />
    </div>

    <CollectionsMenu />
  </div>

  <Footer t={t} />
</CenteredLayout>

<style>
  .content {
    width: 100%;

    & > :global(*):not(:first-child) {
      margin-block-start: 2em;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
