---
import { actions, isInputError } from "astro:actions";
import CollectionsMenu from "../components/home/CollectionsMenu.astro";
import ScriptForm from "../components/home/ScriptForm.astro";
import CenteredLayout from "../layouts/CenteredLayout.astro";

const result = Astro.getActionResult(actions.script);
if (result && !result.error) {
  return Astro.redirect(`/${result.data.scheme}/${result.data.data}`);
}

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

<CenteredLayout meta={{}} heading="Blood on the Clocktower Script Viewer">
  <p>
    View scripts for <a
      href="https://bloodontheclocktower.com/"
      target="_blank"
      rel="external noreferrer"
    >
      Blood on the Clocktower
    </a> in your browser.
  </p>
  <p>Select a script or enter a custom script by JSON or URL.</p>
  <CollectionsMenu />
  <ScriptForm />
  {
    inputErrors.script && (
      <p class="error" id="script-error">
        Unable to sign up. Please try again later.
      </p>
    )
  }
  <footer class="footer">
    <p>
      This website is not affiliated with The Pandemonium Institute. Character
      icons and descriptions are the property of Steven Medway and The
      Pandemonium Institute.
    </p>
    <p>
      Website made by{" "}
      <a href="https://sthom.kiwi" target="_blank" rel="external noreferrer">
        Stuart Thomson
      </a>
      .
    </p>
  </footer>
</CenteredLayout>
