---

---

<form
  id="script-form"
  method="POST"
  action="/go"
  enctype="multipart/form-data"
  class="form"
>
  <p><label for="script">Paste script JSON or URL.</label></p>

  <textarea class="textarea" name="script" id="script"></textarea>

  <button type="submit" class="button" data-umami-event="script-submit">
    View script
  </button>
</form>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .textarea {
    background-color: var(--color-background);
    border: 2px solid var(--color-control-border-active);
    color: var(--color-text);
    padding: 0.5rem;
    border-radius: 15px;
    width: 100%;
    resize: vertical;

    &:disabled {
      filter: grayscale();
    }

    &:hover {
      border-color: var(--color-control-border-hover);
    }

    &:active {
      border-color: var(--color-control-border-active);
    }
  }
</style>
