---

---

<form
  id="script-form"
  method="POST"
  action="/go"
  enctype="multipart/form-data"
  class="form"
>
  <label for="script">Paste script JSON or URL</label>
  <textarea class="textarea" name="script" id="script"></textarea>

  <button type="submit" class="button" data-umami-event="script-submit">
    View script
  </button>

  <p>Or</p>
  <p>
    <label class="button" for="file">Upload JSON file.</label>
    <input
      class="file-input visually-hidden-always"
      type="file"
      name="file"
      id="file"
      accept="application/json"
      autocomplete="off"
    />
  </p>
</form>

<script>
  const form = document.querySelector<HTMLFormElement>("#script-form")!;
  const fileInput = document.querySelector<HTMLInputElement>("#file")!;
  const fileInputLabel =
    document.querySelector<HTMLLabelElement>("label[for=file]")!;

  fileInput.addEventListener("change", () => {
    if (!fileInput.files || fileInput.files.length === 0) {
      fileInputLabel.textContent = "Select JSON file to upload.";
      return;
    }

    const file = fileInput.files[0];
    fileInputLabel.textContent = `${file.name}`;

    form.submit();
  });
</script>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    width: 100%;
  }

  .textarea {
    background-color: var(--color-background);
    border: 2px solid var(--color-control-border-active);
    color: var(--color-text);
    padding: 0.5rem;
    border-radius: 15px;
    width: 100%;
    resize: vertical;

    &:disabled {
      filter: grayscale();
    }

    &:hover {
      border-color: var(--color-control-border-hover);
    }

    &:active {
      border-color: var(--color-control-border-active);
    }
  }
</style>
