---
import type { LocalScriptDefinition } from "../../types/botc";
import type { Translator } from "../../lib/i18n";
import ScriptListItem from "./ScriptListItem.astro";

interface Props {
  t: Translator;
  collectionId: string;
  scripts: LocalScriptDefinition[];
  loading?: "eager" | "lazy";
}

const { t, collectionId, scripts, loading } = Astro.props;
---

<ul class="script-list">
  {
    scripts.map((script) => (
      <li class="script-list-item">
        <ScriptListItem
          t={t}
          collectionId={collectionId}
          script={script}
          loading={loading}
        />
      </li>
    ))
  }
</ul>

<style>
  .script-list {
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    list-style: none;
    padding-inline-start: 0;
  }
</style>
