---

---

<form
  id="upload-form"
  method="POST"
  action="/go"
  enctype="multipart/form-data"
  class="form"
>
  <p>Upload file.</p>

  <label class="file-input-label" for="file" aria-describedby="upload-error">
    <span>Click to upload JSON file or drag file here.</span>
  </label>
  <input
    class="file-input visually-hidden-always"
    type="file"
    name="file"
    id="file"
    accept="application/json"
    autocomplete="off"
    required
  />

  <div id="upload-status" class="visually-hidden-always" aria-live="polite">
  </div>

  <button
    type="submit"
    class="button upload-submit"
    data-umami-event="upload-submit"
  >
    Upload script
  </button>
</form>

<script>
  import { setupUploadForm } from "../../lib/forms";

  const form = document.querySelector<HTMLFormElement>("#upload-form")!;
  const fileInput = form.querySelector<HTMLInputElement>("#file")!;
  const fileInputLabel =
    form.querySelector<HTMLLabelElement>("label[for=file]")!;
  const statusRegion = form.querySelector<HTMLDivElement>("#upload-status")!;

  setupUploadForm(form, fileInput, fileInputLabel, statusRegion);
</script>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 160px;
    border: 2px dashed var(--color-control-border-active);
    padding: 16px;
    border-radius: 15px;
    background-color: var(--color-control-background);

    &:disabled {
      filter: grayscale();
    }

    &:hover {
      border-color: var(--color-control-border-hover);
      background-color: var(--color-background);
    }

    &:active {
      border-color: var(--color-control-border-active);
      background-color: var(--color-background);
    }

    &.dragover {
      border-color: var(--color-level-border-info);
    }

    &.dragerror {
      border-color: var(--color-level-border-error);
    }
  }

  .form:not(:has(.file-input:valid)) .upload-submit {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
