---
import type { Translator } from "../../lib/i18n";
import LocalisedMessage from "../i18n/LocalisedMessage.astro";

export interface Props {
  t: Translator;
}

const { t } = Astro.props;
---

<form
  id="upload-form"
  method="POST"
  action="/go"
  enctype="multipart/form-data"
  class="form"
>
  <h2>
    <LocalisedMessage t={t} key="viewer.home.uploadFile" />
  </h2>

  <label class="file-input-label" for="file" aria-describedby="upload-error">
    <LocalisedMessage t={t} key="viewer.home.clickToUpload" />
  </label>
  <input
    class="file-input visually-hidden-always"
    type="file"
    name="file"
    id="file"
    accept="application/json"
    autocomplete="off"
    required
  />

  <button
    type="submit"
    class="button upload-submit"
    data-umami-event="upload-submit"
  >
    <LocalisedMessage t={t} key="viewer.home.viewScript" />
  </button>
</form>

<script>
  import { setupUploadForm } from "../../lib/forms";

  const form = document.querySelector<HTMLFormElement>("#upload-form")!;
  const fileInput = form.querySelector<HTMLInputElement>("#file")!;
  const fileInputLabel =
    form.querySelector<HTMLLabelElement>("label[for=file]")!;

  setupUploadForm(form, fileInput, fileInputLabel);
</script>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 160px;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--color-control-background);
    background-color: var(--color-control-background);
    border: 2px dashed var(--color-control-border);

    &:disabled {
      filter: grayscale();
    }

    &:hover,
    &:focus-within {
      background-color: var(--color-control-background-hover);
      border-color: var(--color-control-border-hover);
    }

    &:active {
      background-color: var(--color-control-background-active);
      border-color: var(--color-control-border-active);
    }

    &.dragover {
      border-color: var(--color-level-border-info);
    }

    &.dragerror {
      border-color: var(--color-level-border-error);
    }
  }

  .form:not(:has(.file-input:valid)) .upload-submit {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
