@media screen {
  .ScriptDisplay {
    margin: 2em;
  }
}

.CategoryTitle {
  margin-block: 1rem;
}

.ScriptCharacterList {
  list-style: none;
  padding-inline-start: 0;
  margin-block: 1rem;
  columns: 24rem;
  column-gap: 1rem;
}

.ScriptCharacterListItem {
  break-inside: avoid;

  &:not(:first-child) {
    margin-block-start: 1rem;
  }

  &:not(:last-child) {
    margin-block-end: 1rem;
  }
}

.ScriptCharacter {
  display: flex;
  align-items: flex-start;
}

.ScriptCharacterTitle {
  font-family: var(--font-title);
}

.ScriptCharacterIcon {
  width: 48px;
  height: 48px;
}
