@media screen {
  .ScriptDisplay {
    margin: 2em;
  }
}

.Page {
  break-after: always;
}

.CategoryTitle {
  margin-block: 1rem;
}

.ScriptCharacterList {
  list-style: none;
  padding-inline-start: 0;
  margin-block: 1rem;
  columns: 24rem;
  column-gap: 1rem;
}

.ScriptCharacterListItem {
  break-inside: avoid-column;

  &:not(:first-child) {
    margin-block-start: 1rem;
  }

  &:not(:last-child) {
    margin-block-end: 1rem;
  }
}

.ScriptCharacter {
  display: flex;
  align-items: flex-start;
}

.ScriptCharacterTitle {
  font-family: var(--font-title);
}

.ScriptCharacterIcon {
  width: 48px;
  max-height: 48px;
}

.TwoColumn {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 848px) {
    grid-template-columns: 1fr 1fr;
  }
  @media print {
    grid-template-columns: 1fr 1fr;
  }

  .ScriptCharacterList {
    columns: 1;
  }
}
