.HomePage {
  margin: 0 auto;
  padding: 2rem;
}

.HomeTitle {
  text-align: center;
}

.HomeContent {
  max-width: 30rem;
  margin: 0 auto;
}

.HomeFooter {
  opacity: 0.7;
  font-size: 0.9rem;
  margin-block-start: 2rem;
}

.BigPageContent {
  margin: 2rem auto;
  text-align: center;
}

.BigPageImage {
  display: inline;
  animation: SlowRotate 40s linear infinite;
}

@keyframes SlowRotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
