.Menubar {
  background-color: var(--color-control-background);
  border: 2px solid var(--color-control-border-active);
  color: var(--color-control-text);
  padding: 0.5rem;
  border-radius: 100vw;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.MenuTrigger {
  background-color: var(--color-control-background);
  color: var(--color-text);
  padding: 0.5rem;
  border-radius: 100vw;
  border: 2px solid transparent;

  &:hover:not([data-pressed]) {
    background-color: var(--color-control-background-active);
    border-color: var(--color-control-border-hover);
  }
  &[data-pressed] {
    background-color: var(--color-control-background-active);
    border-color: var(--color-control-border-active);
  }
}

.MenuPopup {
  border-radius: 15px;
  background-color: var(--color-control-background);
  border: 2px solid var(--color-control-border-active);
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  .menu-arrow {
    position: absolute;
    /* TODO: */
  }

  .menu-separator {
    height: 1px;
    background-color: #949494;
    margin: 0.5rem 0;
  }

  .MenuItem {
    padding: 0.2rem 0.4rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid transparent;

    &:is(a) {
      color: var(--color-text);
      text-decoration: none;
    }

    &[tabindex="0"] {
      border-color: var(--color-control-border-hover);
      background-color: var(--color-control-background-active);
      color: #282828;

      &:active {
        border-color: var(--color-control-border-active);
      }
    }

    &[data-disabled] {
      opacity: 0.5;
    }
  }
}

.MenuInlineIcon {
  width: 2em;
  height: 2em;
  display: inline;
}
