---
import type { ScriptCharacter } from "../../generated/script-schema";
import CharacterIcon from "./CharacterIcon.astro";

export interface Props {
  character: ScriptCharacter | null;
  character2?: ScriptCharacter;
  title?: string;
  description?: string;
}

const { character, character2, title, description } = Astro.props;
---

<div class="character">
  {
    character ? (
      <CharacterIcon
        character={character}
        size={48}
        class="character-icon-offset"
      />
    ) : (
      <div class="character-icon-placeholder" />
    )
  }
  {
    character2 && (
      <CharacterIcon
        character={character2}
        size={48}
        class="character-icon-offset"
      />
    )
  }
  <div class="character-info">
    {title && <h4 class="character-title">{title}</h4>}
    {description && <p class="character-description">{description}</p>}
  </div>
</div>

<style>
  .character {
    display: flex;
    align-items: flex-start;
  }

  :global(.character-icon-offset) {
    translate: -4px -4px;
  }

  .character-icon-placeholder {
    width: 48px;
  }

  .character-title {
    font-family: var(--font-title);
  }

  .character-description {
    line-height: 1.3rem;
  }
</style>
