---
import type { Translator } from "../../lib/i18n/types";
import type { NormalisedScript } from "../../types/botc";
import FormattedMessage from "../misc/FormattedMessage.astro";

export interface Props {
  t: Translator;
  script: NormalisedScript;
}

const { t, script } = Astro.props;
---

<nav class="skip-list-nav">
  <span><FormattedMessage segments={t("viewer.skipList.skipTo")} /></span>
  <ul class="skip-list">
    <li class="skip-list-item">
      <a href="#script">
        <FormattedMessage segments={t("app.pages.lobby.script")} />
      </a>
    </li>
    {
      script.teams.townsfolk.length > 0 && (
        <li class="skip-list-item">
          <a href="#townsfolk">
            <FormattedMessage
              segments={t("app.grimoire.townsfolk", { count: Infinity })}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.outsider.length > 0 && (
        <li class="skip-list-item">
          <a href="#outsiders">
            <FormattedMessage
              segments={t("app.grimoire.outsider", { count: Infinity })}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.minion.length > 0 && (
        <li class="skip-list-item">
          <a href="#minions">
            <FormattedMessage
              segments={t("app.grimoire.minion", { count: Infinity })}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.demon.length > 0 && (
        <li class="skip-list-item">
          <a href="#demons">
            <FormattedMessage
              segments={t("app.grimoire.demon", { count: Infinity })}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.traveller.length > 0 && (
        <li class="skip-list-item">
          <a href="#travellers">
            <FormattedMessage
              segments={t("app.grimoire.traveller", { count: Infinity })}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.fabled.length > 0 && (
        <li class="skip-list-item">
          <a href="#fabled">
            <FormattedMessage
              segments={t("app.grimoire.fabled", { count: Infinity })}
            />
          </a>
        </li>
      )
    }
    {
      script.teams.loric.length > 0 && (
        <li class="skip-list-item">
          <a href="#loric">
            <FormattedMessage
              segments={t("app.grimoire.loric", { count: Infinity })}
            />
          </a>
        </li>
      )
    }
    {
      script.jinxes.length > 0 && (
        <li class="skip-list-item">
          <a href="#jinxes">
            <FormattedMessage segments={t("app.tab.character.jinxes")} />
          </a>
        </li>
      )
    }
    <li class="skip-list-item">
      <a href="#night-order">
        <FormattedMessage
          segments={t("app.modals.settings.shortcuts.toggleNightOrder")}
        />
      </a>
    </li>
  </ul>
</nav>

<style>
  .skip-list-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding: 1rem;
    background-color: var(--color-control-background);
    border-bottom: 2px solid var(--color-control-border);
    text-align: center;

    &:not(:focus-within) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }

  .skip-list {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skip-list-item {
  }
</style>
