/* #region Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin-block: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
/* #endregion */

:root {
  --token-size: 64px;
  --font-body: "Sorts Mill Goudy", Georgia, "Times New Roman", serif;
  --font-title:
    Dumbledor, "Sorts Mill Goudy", Georgia, "Times New Roman", serif;

  --border-radius: 0.5rem;

  --color-control-background: #555;
  --color-control-text: #282828;

  font-family: var(--font-body);
}

@font-face {
  font-family: "Dumbledor";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Dumbledor-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Dumbledor";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Dumbledor-Italic.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Sorts Mill Goudy";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SortsMillGoudy-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Sorts Mill Goudy";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/SortsMillGoudy-Italic.woff2");
  font-display: swap;
}

.root {
  isolation: isolate;
}

body {
  margin: 0;
}
