---
import LocalisedMessage from "../components/i18n/LocalisedMessage.astro";
import ThemeToggle from "../components/misc/ThemeToggle.astro";
import type { Translator } from "../lib/i18n/types";
import type { PageMeta } from "../types/site";
import MinimalLayout from "./MinimalLayout.astro";

interface Props {
  t: Translator;
  meta: PageMeta;
}

const { t, meta } = Astro.props;
---

<MinimalLayout t={t} meta={meta}>
  <slot slot="head" name="head" />

  <header class="header">
    <div class="paper-border">
      <div class="pattern">
        <div class="header-content container">
          <a href="/">
            <h1 class="heading">
              <LocalisedMessage t={t} key="viewer.common.nameLong" />
            </h1>
          </a>
        </div>
      </div>
    </div>

    <ThemeToggle t={t} />
  </header>

  <div class="container">
    <slot />
  </div>
</MinimalLayout>

<style>
  .header {
    color: var(--color-header-text);
    --color-text: var(--color-header-text);
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
  }

  .paper-border {
    background: var(--color-header-paper);
    padding-bottom: 12px;
  }

  .pattern {
    background: url("../assets/headerbg.webp") var(--color-header-background);
  }

  .paper-border,
  .pattern {
    clip-path: polygon(
      0 0,
      0 100%,
      24% calc(100% - 10px),
      45% calc(100% - 3px),
      80% calc(100% - 12px),
      100% calc(100% - 9px),
      100% 0
    );

    @media (min-width: 500px) {
      clip-path: polygon(
        0 0,
        0 100%,
        17% calc(100% - 10px),
        38% calc(100% - 3px),
        50% calc(100% - 12px),
        71% calc(100% - 5px),
        87% calc(100% - 9px),
        100% calc(100% - 6px),
        100% 0
      );
    }

    @media (min-width: 900px) {
      clip-path: polygon(
        0 0,
        0 100%,
        10% calc(100% - 10px),
        20% calc(100% - 3px),
        30% calc(100% - 12px),
        40% calc(100% - 14px),
        50% calc(100% - 8px),
        60% calc(100% - 11px),
        70% calc(100% - 7px),
        80% calc(100% - 4px),
        90% calc(100% - 9px),
        100% calc(100% - 6px),
        100% 0
      );
    }
  }

  .container {
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .heading {
    text-align: center;
    margin: 2rem;
    font-weight: 600;
  }
</style>
