---
import { type MarkdownLayoutProps } from "astro";
import Footer from "../components/misc/Footer.astro";
import { createTranslator } from "../lib/i18n";
import { getPathWithoutLocale } from "../lib/url";
import TopBarLayout from "./TopBarLayout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
}>;

const { frontmatter } = Astro.props;

// TODO: Not hardcode these pages to English
const t = createTranslator({ locale: "en" });
---

<TopBarLayout
  t={t}
  meta={{
    title: t.string("viewer.head.title", { title: frontmatter.title }).value,
    basePath: getPathWithoutLocale(Astro.routePattern, Astro.url.pathname),
  }}
>
  <div class="md flow">
    <h1>{frontmatter.title}</h1>

    <slot />

    <Footer t={t} />
  </div>
</TopBarLayout>

<style>
  .md {
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem;
  }
</style>
