---
import TopBar from "../components/misc/TopBar.astro";
import type { PageMeta } from "../types/site";
import MinimalLayout from "./MinimalLayout.astro";

export interface Props {
  meta: PageMeta;
  heading: string;
}

const { meta, heading } = Astro.props;
---

<MinimalLayout meta={meta}>
  <slot slot="head" name="head" />

  <slot name="top" />

  <TopBar title={heading}>
    <slot name="items-start" slot="items-start" />
  </TopBar>

  <div class="container">
    <slot />
  </div>
</MinimalLayout>

<style>
  :global(body):has(.container) {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  .container {
    flex-grow: 1;
  }
</style>
